<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script type="text/javascript" src="/js/add-ingredient-button.js"></script>
    <title>Add Recipe</title>
    <!-- Include any additional CSS or styling links here -->
</head>
<body>

<h2>Add Recipe</h2>

<form th:action="@{/recipes/add}" method="post" th:object="${recipe}">
    <!-- Recipe Name -->
    <label for="recipeName">Recipe Name:</label>
    <input type="text" id="recipeName" name="recipeName" th:field="${recipe.name}" th:required="required">
    <span th:if="${recipeNameError}" class="error" th:text="${recipeNameError}"></span>
    <!-- Ingredients -->
    <div id="ingredientsContainer" >
        <label>Ingredients:</label>
        <br>
        <button type="button" onclick="addIngredient()">Add Ingredient</button>
        <div class="ingredient" th:each="ingredient, status : ${recipe.ingredients}">
            <input type="text" th:field="*{ingredients[__${status.index}__].name}" placeholder="Ingredient Name" required>
            <input type="number" th:field="*{ingredients[__${status.index}__].quantity}" placeholder="Quantity" required>
            <select th:field="*{ingredients[__${status.index}__].unit}" required>
                <option th:each="unit : ${T(com.michaelrkaplan.bakersassistant.models.UnitType).values()}"
                        th:value="${unit.toLowerCase()}" th:text="${unit}">
                </option>
            </select>
        </div>
    </div>

    <!-- Instructions -->
    <label for="instructions">Instructions:</label>
    <br>
    <textarea id="instructions" name="instructions" th:required="required"></textarea>

    <br>

    <!-- Submit Button -->
    <button type="submit">Add Recipe</button>
</form>


<!-- Include any additional scripts or JavaScript links here -->

</body>
</html>
