<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recipes</title>
</head>
<body>

<h1>Recipes</h1>

<ul>
    <!-- Iterate over the list of recipes and display each one -->
    <li th:each="recipe : ${recipes}">
        <!-- Assuming 'recipe' is the name of the variable in the model -->
        <a th:href="@{/recipes/{id}(id=${recipe.getId})}" th:text="${recipe.getName}"></a>
    </li>
</ul>

</body>
</html>
