<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script type="text/javascript" src="/js/update-total-weight.js"></script>
    <script type="text/javascript" src="/js/update-ingredient-quantity.js"></script>
    <script type="text/javascript" src="/js/scale-recipe.js"></script>
    <title th:text="${recipeName}">Recipe Name</title>

    <link rel="stylesheet" href="/webjars/bootstrap/5.3.2/css/bootstrap.min.css" />

    <!-- jQuery -->
    <script src="/webjars/jquery/3.6.0/jquery.min.js"></script>

    <!-- Popper.js -->
    <script src="/webjars/popper.js/2.11.6/popper.min.js"></script>

    <!-- Bootstrap JS -->
    <script src="/webjars/bootstrap/5.3.2/js/bootstrap.min.js"></script>

</head>
<body>

<div th:replace="~{fragments/navbar :: navbar}"></div>


<h1 th:text="${recipeName}">Recipe Name</h1>

<!-- Add a hidden input to store the recipe name -->
<input type="hidden" id="recipeName" th:value="${recipeName}" />

<!-- Dropdown menu for choosing ScalingMethod -->
<label for="scalingMethod">Scaling Method:</label>
<select id="scalingMethod">
    <option value="BY_BATCH_SIZE">Scale by Batch Size</option>
    <option value="BY_TOTAL_WEIGHT">Scale by Total Weight</option>
</select>

<!-- Numeric input for scaling value -->
<label for="scalingValue">Scaling Value:</label>
<input type="number" id="scalingValue" min="0" step="any" placeholder="Enter numerical value">


<!-- Button to trigger scaling -->
<button onclick="scaleRecipe('Michael')">Scale Recipe</button>


<h2>Ingredients</h2>

<ul>
    <li th:each="ingredient : ${ingredients}">
        <span th:text="${ingredient.name}"></span>
        <span class="ingredient-quantity" th:text="${ingredient.quantity}"></span>
        <!-- Hidden field to store the current unit type -->
        <input type="hidden" class="current-unit-type" th:value="${ingredient.unit}" />
        <!-- Display unit as a dropdown menu -->
        <select class="ingredient-unit-select" onchange="updateIngredientQuantity(this)">
            <option th:each="unit : ${T(com.michaelrkaplan.bakersassistant.model.UnitType).values()}"
                    th:value="${unit.name}"
                    th:text="${unit.name}"
                    th:selected="${unit.name == ingredient.unit}">
            </option>
        </select>
    </li>
</ul>

<!-- Display total weight of the recipe -->
<h3>Total Weight</h3>

<!-- Dropdown menu for unit selection -->
<select id="targetUnitType" onchange="updateTotalWeight()">
    <option th:each="unit : ${T(com.michaelrkaplan.bakersassistant.model.UnitType).values()}"
            th:value="${unit.name}" th:text="${unit.name}" th:selected="${unit.name == 'grams'}">
    </option>
</select>

<!-- Display total weight based on the selected unit type -->
<span>
    <p id="totalWeight" th:text="${totalWeight}"></p>
    <p id="currentUnitType" th:text="${targetUnitType}"></p>
</span>

<h2>Instructions</h2>
    <p th:text="${instructions}">Instructions</p>

<!-- Link to delete the recipe -->
<a th:href="@{/recipes/{recipeName}/delete(recipeName=${recipeName})}" class="delete-link">Delete Recipe</a>

</body>
</html>
