<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title th:text="${recipeName}">Recipe Name</title>
</head>
<body>

<h1 th:text="${recipeName}">Recipe Name</h1>

<h2>Ingredients</h2>

<ul>
    <li th:each="ingredient : ${ingredients}">
        <span th:text="${ingredient.name}"></span>
        <span th:text="${ingredient.quantity}"></span>
        <span th:text="${ingredient.unit}"></span>
    </li>
</ul>

<!-- Display total weight of the recipe -->
<h3>Total Weight</h3>
<p th:text="${totalWeight}"></p>

<h2>Instructions</h2>
    <p th:text="${instructions}">Instructions</p>

<!-- Link to delete the recipe -->
<a th:href="@{/recipes/{recipeName}/delete(recipeName=${recipeName})}" class="delete-link">Delete Recipe</a>

</body>
</html>
