<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Baker's Math</title>
</head>
<body>

<header>
    <h1 th:text="${homepageTitle}">Baker's Math</h1>
</header>

<section>
    <a href="/recipes/index" class="btn">Recipes</a>
</section>

<footer>
    <p>&copy; 2023 Baker's Math. All rights reserved.</p>
</footer>

</body>
</html>
