<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Login</title>
    <!-- Add any additional CSS or styling links here -->
</head>
<body>


<h2>User Login</h2>
<!-- Display error messages if authentication fails -->
<p th:if="${param.error}" style="color: red;">Invalid username or password</p>

<!-- Login form -->
<form th:action="@{/login}" method="post">
    <!-- Username input -->
    <div>
        <label for="username">Username:</label>
        <input type="text" id="username" name="username" required autofocus/>
    </div>

    <!-- Password input -->
    <div>
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required/>
    </div>

    <!-- Submit button -->
    <button type="submit">Login</button>
</form>

</body>
</html>
