<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Login</title>
    <!-- Add any additional CSS or styling links here -->
</head>
<body>
<h2>Login</h2>
<form th:action="@{/authenticate}" th:object="${loginForm}" method="post">
    <div>
        <label for="username">Username:</label>
        <input type="text" id="username" name="username" th:field="${loginForm.username}" required>
    </div>
    <div>
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" th:field="${loginForm.password}" required>
    </div>
    <div>
        <button type="submit">Login</button>
    </div>
    <div th:if="${error}" style="color: red;">
        <p th:text="${error}"></p>
    </div>
</form>
</body>
</html>
